@page "/car-tool"

<header>
  <h3>Car Tool</h3>
</header>

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Make</td>
      <td>Model</td>
      <td>Year</td>
      <td>Color</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Ford</td>
      <td>Fusion Hybrid</td>
      <td>2020</td>
      <td>blue</td>
      <td>45000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Tesla</td>
      <td>S</td>
      <td>2021</td>
      <td>red</td>
      <td>125000</td>
    </tr>
  </tbody>
</table>

@code {

}
