@page "/color-tool"
@using ToolsApp.Core.Interfaces.Models
@using ToolsApp.Models

<header>
  <h3>Color Tool</h3>
</header>

<ul>
  @foreach(var color in Colors)
  {
    <li>@color.Name - @color.HexCode</li>
  }
</ul>

@code {

  public IEnumerable<IColor> Colors { get; set; } = new List<IColor>() {
    new Color() { Id = 1, Name = "red", HexCode = "ff0000" },
    new Color() { Id = 2, Name = "blue", HexCode = "0000ff" },
    new Color() { Id = 3, Name = "yellow", HexCode = "00ffff" },
  };

}
