@page "/color-tool"

<ToolHeader HeaderText="@colorToolHeaderText"></ToolHeader>

<ul>
  @foreach(var color in Colors)
  {
    <li>@color.Name - @color.HexCode</li>
  }
</ul>

<ColorForm ButtonText="Add Color" OnSubmitColor="@AddColor"></ColorForm>



@code {

  private string colorToolHeaderText { get; set; } = "Color Tool!!!";


  public List<IColor> Colors { get; set; } = new List<IColor>() {
    new Color() { Id = 1, Name = "red", HexCode = "ff0000" },
    new Color() { Id = 2, Name = "blue", HexCode = "0000ff" },
    new Color() { Id = 3, Name = "yellow", HexCode = "00ffff" },
  };

  public void AddColor(INewColor newColor) {
    var color = new Color()
      {
        Name = newColor.Name,
        HexCode = newColor.HexCode,
      };

    color.Id = Colors.Any() ? Colors.Max(c => c.Id) + 1 : 1;

    Colors.Add(color);
  }






}
