<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Make</td>
      <td>Model</td>
      <td>Year</td>
      <td>Color</td>
      <td>Price</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  @if (!Cars.Any())
  {
    <tr>
      <td colspan="7">There are no cars.</td>
    </tr>
  }
  @foreach (var car in Cars)
  {
    <CarViewRow Car="@car" OnDeleteCar="@DeleteCar"></CarViewRow>
  }
  </tbody>
</table>

@code {

  [Parameter]
  public IEnumerable<ICar> Cars { get; set; } = new List<ICar>();
  
  [Parameter]
  public EventCallback<int> OnDeleteCar { get; set; }

  private async void DeleteCar(int carId)
  {
    await OnDeleteCar.InvokeAsync(carId);
  }

}