/* _content/ToolsApp.Components/Component1.razor.rz.scp.css */
.my-component[b-xmozdrpuy2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
